@charset "UTF-8";

.breadcrumb {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: transparent;
  border-radius: 0;
  font-size: 14px;
}

.breadcrumb-item {
  color: #000000;
  &.active {
    color: #000000;
  }
  a{
    color: #000000;
    &:hover{
      text-decoration: underline;
    }
  }
}
