@charset "UTF-8";

/*css-table*/
.css-table{
  display: block;
  width: 99.9%;

  .thead{
    display:none;
  }
  .tbody{
    display:block;
  }

  .tr {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
  }

  .th{
    display:  block;

  }

  .td{
    display:  block;
    .btn-link{ color: #666; text-decoration: underline;}
  }

  .date{
    text-align: center;
  }


}



@media (min-width: 768px) {
  /*css-table*/
  .css-table{
    display: table;
    width: 100%;
    margin-bottom: 20px;
    .thead{
      display:table-header-group;
    }
    .tbody{
      display:table-row-group;
    }

    .tr {
      display:table-row;

    }

    .th{
      display:table-cell;
      width: auto;
      padding: 5px;
      color: #FFF;
      background: transparent;
      border-right:none;
      border-bottom:1px solid #7b6f47;
      vertical-align: middle;
    }

    .td{
      display:table-cell;
      width: auto;
      padding: 5px; background: transparent;
      border-right:none;
      border-bottom:1px solid #7b6f47;
      vertical-align: top;
    }
  }


}