@charset "UTF-8";
.kv {
  height: auto;
  .btn-go {
    position: absolute;
    border: 1px dashed $debug-color;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 30%;
    margin-left: -23%;
  }
}


@media (min-width: 992px) {
  .kv {
    height: 545px;

    .btn-go {
      top: 210px;
      left: 50%;
      margin-left: -395px;
      width: 360px;
      height: 280px;
    }
  }
}
